/**
 * Buttons
 * =================================
 * This controls all the buttons on the site. They get REALLY cumbersome in Tailwind.
 *
 * - Main Button
 *
 *
 *
 */

$black: #333333;
$white: #fafafa;

$yellow: #ffeac0;
$yellow-hover: #f6dfa5;

.fab-main {
  background-color: $yellow;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  color: $black;
  font-size: 1.2em;
  font-weight: 800;
  margin-right: 5px;
  padding: 10px 50px;
}

.fab-main:hover {
  background-color: $yellow-hover;
}

.ghost-black {
  border: 1px solid $black;
  border-radius: 18px;
  color: $black;
  padding: 4px 22px;
}

.ghost-white {
  border: 1px solid $white;
  border-radius: 18px;
  color: $white;
  padding: 4px 22px;
}
